.header {
  width: 100%;
  background: #000000;
  z-index: 1;
}
.header-container {
  max-width: 1170px;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin: 20px 0px;
}

.logo-text-ax {
  font-family: 'Raleway';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.22px;
  text-transform: uppercase;
  color: #ffffff;
  /* transition: ease 0.5s; */
}

.logo-text-ax:hover {
  /* transition-property: color, font-weight;
  color: #ffffff;
  font-weight: bold; */
}
.logo-text-it {
  font-family: 'Roboto';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.22px;
  text-transform: uppercase;
  color: #ec7979;
  /* transition: ease 0.5s; */
}
.logo-text-it:hover {
  /* transition-property: color, font-weight;
  color: #ffffff;
  font-weight: bold; */
}

.navi-box {
  width: 489px;
  margin: 25px 0px;
}
.navigation-scroll {
}
.navigation-item {
  display: inline-block;
  justify-content: space-between;
  text-align: center;
  padding: 0 15px;
  cursor: pointer;
}
.navigation-link {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #ffffff70;
  line-height: 20.43px;
  text-decoration: none;
  transition: ease-in-out 0.8s;
}
.navigation-link:hover {
  transition-property: color;
  color: #ffffff;
}

/* Гамбургер-меню  */
.nav-mobile {
  width: 100%;
  max-width: 320px;
  background-color: #000000;
  position: relative;
  text-align: center;
  height: 40px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #ffffff70;
}
.checkmenu {
  opacity: 0;
}

.menu_btn {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
  line-height: 40px;
}
.burger-line {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  transition: 0.3s all;
}
.second-line,
.third-line {
  top: 18px;
}
.fourth-line {
  top: 28px;
}
.navmenu_box {
  display: block;
  position: absolute;
  width: 100%;
  max-width: 320px;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  z-index: 3;
}
.navmenu_item {
  display: block;
  width: 100%;
  padding: 10px;
  color: #ffffff;
  border-top: 1px solid #ffffff42;
  background-color: #000000;
  text-decoration: none;
  transition: 0.5s all;
}
#menu_toggle:checked ~ .navmenu_box {
  max-height: 400px;
  font-size: 16px;
}
#menu_toggle:checked ~ .first-line {
  display: none;
}
#menu_toggle:checked ~ .second-line {
  transform: rotate(45deg);
}
#menu_toggle:checked ~ .third-line {
  transform: rotate(-45deg);
}
#menu_toggle:checked ~ .fourth-line {
  display: none;
}
/* Adaptive */

@media (max-width: 576px) {
  .logo {
    margin: 5px 20px;
  }
  .navigation-scroll {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .nav-container {
    display: flex;
  }
  .navi-box{
    margin: 25px auto;
  }
}

@media (max-width: 768px) and (min-width: 577px) {
  .nav-mobile {
    display: none;
  }
  .navigation-item {
    display: inline;
    justify-content: center;
    padding: 0 5px;
  }
  .logo {
    margin: 10px 40px;
  }
  .navi-box {
    display: flex;
    margin: 10px 10px;
    width:80%;
  }
}
@media (min-width: 769px) {
  .nav-mobile {
    display: none;
  }
}
