.social {
  width: 100%;
  background: #f8efef;
  display: flex;
  justify-content: center;
}
.container-social {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}
.social-media {
  max-width: 365px;
  display: flex;
  /* margin: 14px 45px; */
  flex-wrap: wrap;
  flex-direction: column;
  padding: 14px 0px;
  margin: 0 15px;
}
.social-media_title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 27.2px;
  /* padding-left: 10px; */
  padding-bottom: 14px;
  /* text-align: left; */
  margin: 0;
}

.social-media_description {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 19.07px;
  text-align: left;
  color: #86878b;
  /* padding-left: 10px; */
  margin-bottom: 3px;
}
.social-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px 15px;
  /* width: 684px; */
}
.social-icons_list-items {
  display: inline-block;
  justify-content: space-around;
  font-size: 36px;
  padding: 0 15px;
  margin: 0px 10px;
  cursor: pointer;
}

.fab {
  color: #c9c9c9;
  transition: ease 0.5s;
}

.fab:hover {
  transition-property: color;
  color: #ec7979;
  /* font-size: 34px; */
  transform: scale(1.2);
}

.fas {
  color: #c9c9c9;
  transition: ease 1s;
}
.fas:hover {
  transition-property: color;
  color: #ec7979;
  transform: scale(1.2);
  /* font-size: 34px; */
}

/* Adaptive */
@media (max-width: 1077px) and (min-width: 998px) {
  .social-icons_list-items {
    font-size: 24px;
  }
}
@media (max-width: 997px) {
  .container-social {
    display: flex;
    flex-direction: column;
  }
  .social-icons_list{
    padding-inline-start: 0px;
  }
}
@media (max-width: 790px) {
  .social-icons{
    padding-bottom: 20px;
  }
  .social-icons_list-items {
    font-size: 24px;
  }
}
@media (max-width: 603px){
  .social-icons_list-items {
    padding: 0 5px;
  }
}
@media (max-width: 423px) and (min-width:320px){
  .social-icons_list-items {
  padding: 0 2px;
  margin: 0 5px;
  font-size: 20px;
}
