@import url('../css/awesome.css');
@import url('../css/pricing.css');
@import url('../css/customers.css');
@import url('../css/axure.css');
@import url('../css/social.css');
@import url('../css/footer.css');
@import url('../css/header.css');
@import url('../css/firstcreen.css');
@import url('../css/feautures.css');
@import url('../css/contact.css');


html {
  font-size: 16px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

* {
  color: black;
  list-style: none;
  margin: 0px auto;
  box-sizing: border-box;
  
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

}
.ul {
  padding-inline-start: 0px;
}
.textarea {
  border: none;
  outline: none;
  resize: none;
}
.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.body{
  max-width: 100%;
  height: 100%;
}
main{
  width: 100%;
}
  
